{% extends 'layouts/fathers/base_user.html' %}
{% load static %}
{% block 'styles' %}
<link rel="stylesheet" href="{% static 'css/users/login_style.css' %}" />
{% endblock %} 

{% block 'title' %}contraseña olvidada?{% endblock %}
<link rel="stylesheet" href="{% static 'css/users/login_style.css' %}" />
{% block 'content' %}
<section class="section login">
    <article class='article'>
        {% include 'layouts/partials/button_return.html' %}
        <h3 class='title'>Correo Enviado</h3>
        <p class='info'>Hemos enviado un correo electrónico con instrucciones para establecer tu contraseña, en caso de que exista una cuenta asociada con el correo electrónico que ingresaste. Deberías recibirlo en breve.</p>
        <p class='info'>Si no recibes un correo electrónico, por favor asegúrate de haber ingresado la dirección con la que te registraste y revisa tu carpeta de spam.</p>
    </article>
</section>
{% endblock %}
{% block 'scripts' %}
<script src="{% static 'js/users/login.js' %}"></script>
{% endblock %}