{% extends 'layouts/fathers/base_user.html' %}
{% load static %}
{% block 'styles' %}
<link rel="stylesheet" href="{% static 'css/users/login_style.css' %}" />
{% endblock %} 

{% block 'title' %}Contraseña olvidada?{% endblock %}

{% block 'content' %}
<section class="section login">
    <article class='article'>
        {% include 'layouts/partials/button_return.html' %}
        {% if validlink %}
            <h2 class="title">Ingresa tu nueva contraseña</h2>
            <form class="form__login form" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form__group">
                    <input type="password" name="{{ form.new_password1.name}}" id="id_password1" class="form__input" />
                    <label class="form__label" for="id_password1">Nueva Contraseña</label>
                </div>
                <div class="form__group">
                    <input type="password" name="{{ form.new_password2.name}}" id="id_password2" class="form__input" />
                    <label class="form__label" for="id_password2">Confirmar Contraseña</label>
                </div>
                <button class="form__input button" type="submit">Cambiar Contraseña</button>
            </form>
        {% else %}
        <p class="info">
            El enlace para restablecer la contraseña no es válido, posiblemente porque ya ha sido utilizado. Por favor, solicita un nuevo restablecimiento de contraseña.
        </p>
        {% endif %}
    </article>
</section>
{% endblock %}
{% block 'scripts' %}
<script src="{% static 'js/users/login.js' %}"></script>
{% endblock %}