{% extends 'layouts/fathers/base_user.html' %}
{% load static %}
{% block 'styles' %}
<link rel="stylesheet" href="{% static 'css/users/login_style.css' %}" />
{% endblock %} 

{% block 'title' %}Olvidaste tu contraseña?{% endblock %}

{% block 'content' %}
<section class="section login">
    <article class='article'>
        {% include 'layouts/partials/button_return.html' %}
        <h2 class="title">Olvidaste tu Contraseña?</h2>
        <p class="info">Introduce tu correo para enviar las Instrucciones de recuperacion</p>
        <form class="form__login form" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form__group">
                <input type="text" name="{{form.email.name}}" id="id_email" class="form__input" />
                <label class="form__label" for="id_email">Direccion de correo</label>
            </div>
            <button class="form__input button" type="submit">Enviar Instrucciones</button>
        </form>
    </article>
</section>
{% endblock %}
{% block 'scripts' %}
<script src="{% static 'js/users/login.js' %}"></script>
{% endblock %}
