{% extends 'layouts/fathers/base_user.html' %}
{% load static %}
{% block 'styles' %}
<link rel="stylesheet" href="{% static 'css/users/login_style.css' %}" />
{% endblock %} 

{% block 'title' %}contraseña olvidada?{% endblock %}
<link rel="stylesheet" href="{% static 'css/users/login_style.css' %}" />
{% block 'content' %}
<section class="section login">
    <article class='article'>
        <h3 class='title'>Correo Enviado</h3>
        <p class='info'>Tu contraseña fue cambiada por favor dirigite al siguiente link <a href="{% url 'login' %}">Login</a>.</p>
</section>
{% endblock %}
{% block 'scripts' %}
<script src="{% static 'js/users/login.js' %}"></script>
{% endblock %}