@import url(../variables.css);


.section.login{
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.form__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.form__group {
    position: relative;
    font-size: 1.6rem;
    min-width: 90%;
    margin-bottom: 3rem;
}

.form__input {
    color: var(--tertiary-color);
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255);
    outline: none;
}

.form__label {
    font-size: 1.1rem;
    font-weight: 300;
    position: absolute;
    top: 5px;
    left: 10px;
    transition: transform .25s;
}

.form__input:focus+.form__label {
    color: var(--tertiary-color);
    transform: translate(-15px, -32px) scale(.8);
}

.button{
    cursor: pointer;
    color: var(--text-color);
    border-color: var(--primary-color);
    background-color: rgb(10, 10, 10);
    font-size: 1.1rem;
    font-weight: 600;
    max-width: 150px;
    min-height: 55px;
    border-radius: 9px;
    background: var(--primary-color);
    box-shadow:
        6px 6px 12px #101010,
        -6px -6px 12px #282828;
}

.oculte {
    color: var(--text-color);
    transform: translate(-15px, -32px) scale(.8);
}