{% extends 'layouts/fathers/base.html' %}

{% block 'title' %}Registrarse{% endblock %} 
{% block 'styles' %} 
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/users/register_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/movies/movies.css' %}" />
{% endblock %}
{% block 'content' %}
    <section class="main__login">
        <h1 class="main__title">Peliculas</h1>
        <div>
            
            <ul >
                
                {% for movie in data.results %}
                <li>
                    <button onclick="window.location.href='/ruta-del-otro-html'" class="boton">Like</button>
                    <h2>{{ movie.title }}</h2>
                    <img class="img"src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}" alt="{{ movie.title }}">
                    <p>{{ movie.overview }}</p>
                    <p class="fecha">Fecha de Lanzamiento: {{ movie.release_date }}</p>
                </li>
               {% endfor %}
            </ul> 
        </div>
    </section>
{% endblock %}

{% block 'script' %}
<script src="{% static 'js/users/forms.js' %}"></script>
{% endblock %}