{% extends 'layouts/fathers/base.html' %}

{% block 'title' %}Registrarse{% endblock %} 
{% block 'styles' %} 
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/users/register_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/movies/movies.css' %}" />
{% endblock %}

<body>
    {% block 'content' %}
    
    <div class='form'><br> <br> <br> <br> <br>
        <h4>Ingresar la Pelicula</h4>
        <form method="POST">
            {% csrf_token %}
                {{ form.as_ul }}
                <button type="submit">Guardar</button>
        </form>
    </div>
    {% endblock %}
    
</body>
</html>
















